< !DOCTYPE html><html><head><style>* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background-color: crimson;
}

h1 {
  color: Black;
}

h4 {
  color: Black;
}

p {
  color: paleturquoise;
}

ol {
  color: paleturquoise;
}

ul {
  color: paleturquoise;
}

</head></style>